.main {
    padding: 25px;
    font-family: Tahoma;
    background-color: #ECF0F1;
}

.yellowList {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #F7CE3E;
    font-weight: bold;
    padding: 15px;
    border: 1px black solid;
}

.client {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px gray solid;
    cursor: pointer;
    padding: 10px;
}

.move {
    font-size: 25px;
    text-align: center;
}

.move i {
    font-size: 25px;
    cursor: pointer;
}

.select {
    display: inline-block;
}

.search {
    display: grid;
    grid-template-columns: 4fr 1fr;
}